org: timjr
app: strava-data-gen
service: strava-data-gen

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.8
  memorySize: 128
  stage: dev
  region: eu-west-2

functions:
  rateHandler:
    handler: functions/handler.run
    events:
      # Invoke Lambda function every minute
      - schedule: rate(1 minute)
  cronHandler:
    handler: functions/handler.run
    events:
      # Invoke Lambda function every 2nd minute from Mon-Fri
      - schedule: cron(0/2 * ? * MON-FRI *)
  populate:
    handler: function/populate.run

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: non-linux